@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="login-button">
        <a asp-area="" asp-controller="Spotifacts" asp-action="Login" class="btn">Click for spotify tank yu</a>
    </div>
</div>
