@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="login-button">
        <a asp-area="" asp-controller="Spotifacts" asp-action="Login" class="btn">Click here to authenticate with Spotify</a>
    </div>
</div>
