@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application uses your Spotify account with Spotify's API to get your stats and playlists. No data is stored server-side. </p>
